/** Fonts and other*/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/** header */
.header {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.logo {
    margin: 20px 0;
}

.nav__inner {
    display: flex;
}

.nav__item{
    font-size: 14px;
    font-weight: 500;
    list-style-type: none;
    margin: 0 10px;
    color: #000C2D;
    fill: #000C2D;
    padding: 10px;
    border: 1px solid white;
    transition: all .4s;
}

.nav__item:hover,
.nav__item:hover .nav__login {
    color: #2F70FE;
    border: 1px solid #2F70FE;
    transition: all .3s;
    fill: #2F70FE;
}

.nav__login {
    margin-bottom: -2px;
}

/** blue sections  */
.blue__section {
    background-color: #2F70FE;
}

.section__h1 {
    padding-top: 110px;
    margin: 0 auto;
    text-align: center;
    max-width: 690px;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 500;
}

.section__container {
    display: flex;
    justify-content: center;
}

.section__info {
    text-align: center;
    color: #FFFFFF;
    max-width: 680px;
    font-size: 16px;
    font-weight: 400;
}

.section__button {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 16px;
    padding: 16px 25px;
    display: block;
    margin: 0 auto;
    transition: all .4s;
}

.section__button:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.section__left-img {
    margin: 36px 0 -36px 0;
}

.section__right-img {
    margin: -28px 48px 28px 18px;
}

/** green section */
.green__section {
    background-color: #00FF8514;
    padding-bottom: 110px;
    margin-bottom: 100px;
}

.section__h2 {
    margin: 0;
    padding: 80px 0 40px 0;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.section__list {
    display: flex;
    justify-content: center;
}

.section__image {
    margin: 0 30px;
}

.image__border-radius {
    display: block;
    margin: 0 auto;
    background-color: #2f70fe38;
    padding: 30px;
    border-radius: 76px;
    width: 50px;
    height: 50px;
}

.bc-green {
    background-color: #6ded0247;
}

.image__bc {
    display: block;
    margin: 0 auto;
}

.image-text {
    max-width: 256px;
    text-align: center;
    font-size: 16px;
}

/** white section */
.section__about {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

/** size images  START*/
.section__left-img {
    width: 390px;
    height: 255px;
}

.section__right-img {
    width: 341px;
    height: 261px;
}

.image__channel {
    width: 421px;
    height: 310px;
}

.image__become {
    margin-top: 70px;
    width: 380px;
    height: 256px;
}

.image__salesman {
    margin-top: 70px;
    margin-left: 18px;
    padding-right: 139px;
    width: 257px;
    height: 260px;
}

.image__track {
    padding-right: 77px;
    margin-left: 23px;
    margin-top: 70px;
    width: 283px;
    height: 241px;
}

.image__playbook {
    margin-top: 72px;
    margin-left: -21px;
    padding-right: 85px;
    width: 347px;
    height: 321px;
}
/** END */

.about__info-right {
    max-width: 435px;
    margin-right: 180px;
}

.about__info-left {
    max-width: 435px;
    margin-left: 260px;
}

.info__h3 {
    margin-top: 90px;
    font-size: 28px;
    font-weight: 700;
}

.info__link {
    text-decoration: none;
    color: #2F70FE;
    font-size: 16px;
    font-weight: 500;
}
.info__link::after {
    content: url("../images/Right menu Arrow.svg");
    position: absolute;
    margin-left: 10px;
}

/** footer */
.footer {
    background-color: #000000;
}

.footer__info {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 90px;
}

.section__h4 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}

.section__inner {
    margin: 0;
    padding: 0;
}

.section__item,
.section__item a{
    list-style-type: none;
    text-decoration: none;
    color: #e1e1e1;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer__other {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 50px 0 60px 0;
}

.info__service {
    color: #FFFFFF;
}

/** adaptive screen 768px */
@media screen and (max-width: 768px) {

    /** header */
    .header,
    .nav__inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }

    /** blue section */
    .section__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section__right-img {
         margin: 0;
    }

    /** green section */
    .section__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section__image {
        margin: 30px;
    }

    /** white section */
    /** First section */
    .section__about {
        flex-direction: column-reverse;
        align-items: center;
    }

    .about__info-right {
        text-align: center;
        max-width: 435px;
        margin: 0;
    }

    /** Second section */
    .media__screen {
        flex-direction: column;
    }

    .about__info-left {
        max-width: 435px;
        text-align: center;
        margin: 0;
    }

    /** Third section */
    .image__salesman {
        padding: 0;
    }

    /** Fifth section */
    .image__playbook {
         margin-left: 0;
         padding-right: 0;
    }

    .footer__info {
        flex-direction: column;
        text-align: center;
    }
}

@media  screen and (max-width: 480px) {

    .footer__other {
        flex-direction: column;
        text-align: center;
    }
}