.kids-comment {
  background-color: rgba(255, 255, 255, 0.32);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;

  .all-comments-kids {
    background-color: rgba(255, 255, 255, 0.42);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
  }
}